<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Document</title>
</head>
<body>
    


    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID"></script>
    <script>
      paypal.Buttons({
        createOrder: function(data, actions) {
          return fetch("/create-payment/")
            .then(res => res.json())
            .then(order => order.approval_url);
        }
      }).render("#paypal-button-container");
    </script>











</body>
</html>