<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Document</title>
</head>
<body>
    
<script>
    function payWithPayPal() {
        fetch("/create-payment/")
            .then(response => response.json())
            .then(data => {
                if (data.approval_url) {
                    window.location.href = data.approval_url; // Redirect to PayPal
                } else {
                    console.error("Payment error:", data.error);
                }
            });
    }  
</script>






<h1>buy coins</h1>
<p id="price">{{ check.pricing.local.amount }} {{ check.pricing.local.currency }}</p>
<a href="{{ check.hosted_url }}">buy 500 coins</a>




<a href="/paypal">pay with paypal</a>







</body>
</html>